{% extends 'base.html' %}

{% block title %}Объявление: {{ announcement.title }}{% endblock %}

{% block content %}
<h1>{{ announcement.title }}</h1>
<p>{{ announcement.content }}</p>
<p>Автор: {{ announcement.user.username }}</p>
<p>Категория: {{ announcement.category.name }}</p>

{% if announcement.images %}
    <img src="{{ announcement.images.url }}" alt="Изображение">
{% endif %}

{% if announcement.videos %}
<video controls width="640" height="360">
    <source src="{{ announcement.videos.url }}" type='video/mp4'>
    <source src="{{ announcement.videos.url }}" type='video/webm'>
    <source src="{{ announcement.videos.url }}" type='video/ogg'>
    <source src="{{ announcement.videos.url }}" type='video/mov'>
    Ваш браузер не поддерживает воспроизведение видео.
</video>
{% endif %}

{% if announcement.user == user %}
<a href="{% url 'edit_announcement' announcement.pk %}"><button>
    Редактировать
</button></a>
{% endif %}


{% if announcement.user == user %}
    <h2>Отклики</h2>
    {% for response in announcement.response_set.all %}
    <div class="response">
        <p>{{ response.text }}</p>
        <p>Автор: {{ response.user.username }}</p>
        <p>Дата: {{ response.created_at }}</p>

        {% if request.user == announcement.user and not response.is_accepted %}
            <a href="{% url 'accept_response' announcement.pk response.pk %}"><button>
                Принять отклик
            </button></a>
        {% elif response.is_accepted %}
            <span style="color: green;">Отклик принят</span>
        {% endif %}

        {% if request.user == announcement.user %}
            <form action="{% url 'delete_response' response.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="delete-button">Удалить</button>
            </form>
        {% endif %}
    </div>
    {% endfor %}
{% endif %}

{% if user.is_authenticated %}
    <h2>Оставить отклик</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
{% else %}
    <h2>Войдите, чтобы оставить отклик</h2>
{% endif %}

{% endblock %}
