<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <nav>
        <!-- Меню навигации -->
         <ul>
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'create_announcement' %}">Создать объявление</a></li>
             {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Выйти</a></li>
             <span style="color: white">Здравствуйте, <a style="color: white;" href="{% url 'user_responses' %}">{{user.username}}</a>!</span>
             {% else %}
                 <li><a href="{% url 'account_signup' %}">Зарегистрироваться</a></li>
                 <li><a href="{% url 'account_login' %}">Войти</a></li>
             {% endif %}
         </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>
