<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load i18n %}

{% load custom_filters %}

{% load custom_tags %}



<!-- Название у нас будет Post -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.headline|censor }}</h1>
<h2>{{ post.formated_date_time }}</h2>
<h3>{{ post.content|censor }}</h3>

<br />

<!-- Добавим кнопки для редактирования и удаления поста -->
<button style="padding: 4px 8px; font-size: 16px; border-radius: 15px;"
        onclick="colorFn(this)">
    <a class="nav-link" href="/posts/{{ post.id }}/update">{% trans "Редактировать пост" %}</a>
</button>
<br />
<br />
<button style="padding: 4px 8px;
font-size: 16px;
border-radius: 15px;
background-color: red;
color: white;"
        onclick="colorFn(this)">
    <a class="nav-link" href="/posts/{{ post.id }}/delete">{% trans "Удалить пост" %}</a>
</button>

{% endblock content %}