{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>

<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<br />

{% if is_not_author %}
<form method="post" action="{% url 'upgrade' %}">
    {% csrf_token %}
    <button type="submit" style="padding: 4px 8px; font-size: 16px; border-radius: 15px">Стать автором</button>
</form>
    {% endif %}

<br>

<form method="post" action="{% url 'logout' %}">
{% csrf_token %}
    <button type="submit" style="padding: 4px 8px; font-size: 16px; border-radius: 15px">Выйти</button>
</form>



{% endblock %}