<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->

{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}


{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>Наши новости</h1>


    <hr size="10" color="#000000">
<h2><span style="text-decoration: underline;">Колличество постов {{posts|length}}</span></h2>

<!-- Создание таблицы новостей, выводящей последние новости в хронологическом порядке, начиная с последней новости. -->
    {% if posts %}
        <table width="1500">
            <tr>
                <th width="100" height="100">Дата</th>
                <th>Тип поста</th>
                <th>Заголовок</th>
                <th>Превью</th>
                <th>Автор</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td width="300">{{ post.formated_date_time }}</td>
                <td width="150">{{ post.type_post }}</td>
                <td width="300"><h5>{{ post.headline|censor }}</h5></td>
                <td width="500"><h5>{{ post.content|truncatewords:20|censor }}</h5></td>
                <td width="100">{{ post.post_author }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей пока нет!</h2>
    {% endif %}


    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">К первой странице</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">к последней странице</a>
       {% endif %}
   {% endif %}

{% endblock content %}